<body>
    
    <div class="container-fluid py-4">
      <div class="row">     
        <div class="container mt-2">
            <h1>User Inquiries</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User Email</th>
                        <th>Service Name</th>
                        <th>Service Price</th>
                        <th>Service Description</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach(user => { %>
                        <% const userServices = services.filter(service => service.user.toString() === user._id.toString()); %>
                        <% userServices.forEach(service => { %>
                            <tr>
                                <td><%= user.email %></td>
                                <td><%= service.service_name %></td>
                                <td><%= service.price %></td>
                                <td><%= service.description %></td>
                            </tr>
                        <% }); %>
                    <% }); %>
                </tbody>
            </table>
        </div>
        
                
                     
        </div>
  
      </div>
      </div>   
  </div>
  </body>