<link rel="stylesheet" href="/css/_header.css">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
      <a href="/" class="navbar-brand p-0">
          <h1 class="m-0 text-uppercase text-primary"><i class="far fa-smile text-primary me-2"></i>TalentShip Global</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0 me-n3">
              <a href="/" class="nav-item nav-link active">Home</a>
              <a href="/about-page" class="nav-item nav-link">About Us</a>
              <a href="/service-page" class="nav-item nav-link">Service</a>
              <div class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                  <div class="dropdown-menu m-0">
                      <a href="/blog-page" class="dropdown-item">Blog Grid</a>
                      <a href="/detail-page" class="dropdown-item">Blog Detail</a>
                      <a href="/feature-page" class="dropdown-item">Features</a>
                      <a href="/quote-page" class="dropdown-item">Quote Form</a>
                      <a href="/team-page" class="dropdown-item">The Team</a>
                      <a href="/testimonial-page" class="dropdown-item">Testimonial</a>
                  </div>
              </div>
              <a href="/contact-page" class="nav-item nav-link">Contact Us</a>
                    <ul>
                        <% if (locals.user){ %>
                        <li>
                        
                            <%= user.name %>
                        </a>
                        </li>
                        <li>
                            <a href="/users/sign-out">Sign OuT</a>
                        </li>    
                        <li>
                            <%if(locals.user.isAdmin){%>
                                <small>
                                    <a href="/admin/dashboard">Admin Dashboard</a>
                                </small>
                            <%}else{%>
                                <small>
                                    <a href="/users/dashboard">User Dashboard</a>
                                </small>
                            <%}%>
                        </li>
                        <% } else { %>
                            <li>
                                <a href="/users/sign-in">Sign IN</a>
                            </li>
                            
                            <% } %>
                    </ul>
          </div>
      </div>
  </nav>
  <!-- Navbar End -->
