<body>
        <!-- Page Header Start -->
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-4 text-white">Features</h1>
                    <a href="/">Home</a>
                    <i class="far fa-square text-primary px-2"></i>
                    <a href="/feature-page">Features</a>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
    
    
        <!-- Features Start -->
        <div class="container-fluid py-6 px-5">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h1 class="display-5 mb-0">Why Choose Us!!!</h1>
                <hr class="w-25 mx-auto bg-primary">
            </div>
            <div class="row g-5">
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-cubes fs-4 text-white"></i>
                            </div>
                            <h3>Best In Industry</h3>
                            <p class="mb-0">Talentship Global is best option for providing serice based applications</p>
                        </div>
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-percent fs-4 text-white"></i>
                            </div>
                            <h3>99% Success Rate</h3>
                            <p class="mb-0">As per Client satisfaction , This consultancy is more preferable compared to other in the market</p>
                        </div>
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-award fs-4 text-white"></i>
                            </div>
                            <h3>Award Winning</h3>
                            <p class="mb-0">Talentship Global got 5 time super brand Prizes.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-block bg-primary h-100 text-center">
                        <img class="img-fluid" src="/images/img/feature.jpg" alt="">
                        <div class="p-4">
                            <p class="text-white mb-4"> According to research published in Psychological Science, people often underestimate the power of gratitude and overestimate the awkwardness of expressing gratitude. Saying thank you can improve somebody’s happiness and overall well-being. </p>
                            <a href="" class="btn btn-light py-md-3 px-md-5 rounded-pill mb-2">Learn More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row g-5">
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="far fa-smile-beam fs-4 text-white"></i>
                            </div>
                            <h3>100% Happy Client</h3>
                            <p class="mb-0">Our motive is not only to full-fill the current requirements but also to built trustful relations</p>
                        </div>
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-user-tie fs-4 text-white"></i>
                            </div>
                            <h3>Professional Advisors</h3>
                            <p class="mb-0">We have best advisor to assist our clients.They are from best Academic Instuitions</p>
                        </div>
                        <div class="col-12">
                            <div class="bg-primary rounded-circle d-flex align-items-center justify-content-center mb-3" style="width: 60px; height: 60px;">
                                <i class="fa fa-headset fs-4 text-white"></i>
                            </div>
                            <h3>24/7 Customer Support</h3>
                            <p class="mb-0">We have dedicated team of customer support . We always keep in touch of our clients.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Features Start -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
</body>