<link rel="stylesheet" href="/css/signin.css">
<body>

    <div class="container-fluid bg-secondary px-0">
        <div class="row g-0">
            <div class="col-lg-6 py-6 px-5">
                <h1 class="display-5 mb-4">Reset Password</h1>
                <form method="POST" action="/users/forgetPasswordLink" >
                    <div class="col g-3 mt-2">
                        <div class="col-6 mt-2">
                            <div class="form-floating">
                                <input type="email" class="form-control" name="email" id="form-floating-2" placeholder="name@demo.com">
                                <label for="form-floating-2">Email address</label>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="password" id="form-floating-2" placeholder="Current Password">
                                <label for="form-floating-2">Current Password</label>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="password" id="form-floating-2" placeholder="New Password">
                                <label for="form-floating-2">New Password</label>
                            </div>
                        </div>
                        <div class="col-6 mt-2">
                            <div class="form-floating">
                                <input type="password" class="form-control" name="confirmPassword" id="form-floating-2" placeholder="Confirm New Password">
                                <label for="form-floating-2">Confirm New Password</label>
                            </div>
                        </div>
                        <div class="col-12 mt-2">
                            <button class="btn btn-primary w-35 py-2 mt-2" type="submit">Reset It</button>
                            
                        </div>
                        
                    </div>    
                </form>
        
                    
            </div>



        </div>
    </div>


</body>
 

