<link rel="stylesheet" href="/css/home.css">

<h1>
    HomePage / <%= title %>
</h1>



<h3>
    <a href="/admin/dashboard" target="_blank">
        Admin
       </a>
</h3>
<div class="flex-container">
    <div class="flex-items"></div>
    <div class="flex-items"></div>
    <div class="flex-items"></div>
 </div>

        
       
