<body>
        <!-- Page Header Start -->
        <div class="container-fluid bg-dark p-5">
            <div class="row">
                <div class="col-12 text-center">
                    <h1 class="display-4 text-white">Services</h1>
                    <a href="/">Home</a>
                    <i class="far fa-square text-primary px-2"></i>
                    <a href="/service-page">Services</a>
                </div>
            </div>
        </div>
        <!-- Page Header End -->
        
    
        <!-- Services Start -->
        <div class="container-fluid py-6 px-5">
            <div class="text-center mx-auto mb-5" style="max-width: 600px;">
                <h1 class="display-5 mb-0">What We Offer</h1>
                <hr class="w-25 mx-auto bg-primary">
            </div>
            <div class="row g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-user-tie fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Empowering Talents</h3>
                        <p class="mb-0">The company aims to empower individuals by recognizing and harnessing their unique talents.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-chart-pie fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Enabling Transformation</h3>
                        <p class="mb-0">Their goal is to enable transformation, both for individuals and organizations.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-chart-line fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Envisioning Universal Prosperity</h3>
                        <p class="mb-0">They have a vision for a future where universal prosperity is achievable.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-chart-area fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Unlocking Potential</h3>
                        <p class="mb-0">The company believes that every individual and venture has untapped potential, and they aim to unlock it.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-balance-scale fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Empowering Communities</h3>
                        <p class="mb-0">Talentship Global Advisory Forum seeks to empower communities through their efforts.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Supporting Small Ventures</h3>
                        <p class="mb-0">They assist small businesses, startups, local businesses, shops, and small restaurants in overcoming challenges, identifying growth opportunities, and developing sustainable strategies.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Work Experience Opportunities</h3>
                        <p class="mb-0">One of their key objectives is to provide work experience opportunities to undergraduate students, particularly those aspiring to pursue postgraduate studies such as MTech, MBA, or Masters.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Prestigious Validation</h3>
                        <p class="mb-0">They offer the opportunity for students to showcase their work experience with prestigious validation, including appointment letters, experience letters, and recommendation letters that meet the requirements of exams such as CAT, GMAT, GATE, and UPSC.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="service-item bg-secondary text-center px-5">
                        <div class="d-flex align-items-center justify-content-center bg-primary text-white rounded-circle mx-auto mb-4" style="width: 90px; height: 90px;">
                            <i class="fa fa-house-damage fa-2x"></i>
                        </div>
                        <h3 class="mb-3">Pro Bono Consulting for Social Impact</h3>
                        <p class="mb-0">They are committed to making a positive social impact by offering free consulting and advisory services to various types of businesses, with a focus on social impact and community empowerment.</p>
                    </div>
                </div>

            </div>
        </div>
        <!-- Services End -->
    
    
        <!-- Quote Start -->
        <div class="container-fluid bg-secondary px-0">
            <div class="row g-0">
                <div class="col-lg-6 py-6 px-5">
                    <h1 class="display-5 mb-4">Request A Service</h1>
                    <p class="mb-4" style="display: none;">Kasd vero erat ea amet justo no stet, et elitr no dolore no elitr sea kasd et dolor diam tempor. Nonumy sed dolore no eirmod sit nonumy vero lorem amet stet diam at. Ea at lorem sed et, lorem et rebum ut eirmod gubergren, dolor ea duo diam justo dolor diam ipsum dolore stet stet elitr ut. Ipsum amet labore lorem lorem diam magna sea, eos sed dolore elitr.</p>
                    <p>Thank you for choosing our consultancy services to enhance and accomplish your products. We're thrilled to work with you in achieving your goals and bringing your vision to life.</p>
                    <p>Your success is our priority, and we're here to provide expert guidance and support every step of the way.</p>
                    <p>Let's embark on this journey together towards product excellence!</p>
                    
                    <form action="/users/save-service" method="POST">
                        <div class="col gx-3">
                            <div class="col-6 w-50">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="service_name" name="service_name" placeholder="Enter Service Name" required>
                                    <label for="service_name">Service Name *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control h-25" id="description" name="description" rows="10" cols="90" placeholder="Description" required></textarea>
                                    <label for="description">Description *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Price" required>
                                    <label for="price">Price *</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-floating mb-3">
                                    <textarea class="form-control h-25" id="other_info" name="other_info" rows="10" cols="90" placeholder="Other Information"></textarea>
                                    <label for="other_info">Other Information *</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-50" type="submit">SenD</button>
                            </div>
                        </div>
                    </form>
                    
                </div>
                <div class="col-lg-6" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute w-100 h-100" src="/images/img/quote.jpg" style="object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
        <!-- Quote End -->
        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>
    

</body>