
<body>
    <h2>User Panel</h2>
    <div class="container-fluid py-4">
        <div class="row">
            <h1>
                User Profile
            </h1>
            <p>
                <%= user.name %>
            </p>
            <p>
                <%= user.email %>
            </p>
        </div>
      </div>   
  </div>
  </body>